.container-logo {
    position: fixed;
    z-index: 999;
    max-width: 280px;
    margin-top: 50px;
}

.section{
    background-size: cover;
}

.bg-1-1{
    background-image: url(../img/bg/bg-1-1.jpg);
}
.bg-1-2{
    background-image: url(../img/bg/bg-1-2.jpg);
}
.bg-1-3{
    background-image: url(../img/bg/bg-1-3.jpg);
}
.bg-2-1{
    background-image: url(../img/bg/bg-2-1.jpg);
}
.bg-2-2{
    background-image: url(../img/bg/bg-2-2.jpg);
}
.bg-2-3{
    background-image: url(../img/bg/bg-2-3.jpg);
}
.bg-3-1{
    background-image: url(../img/bg/bg-3-1.jpg);
}
.bg-3-2{
    background-image: url(../img/bg/bg-3-2.jpg);
}
.bg-3-3{
    background-image: url(../img/bg/bg-3-3.jpg);
}
.bg-4-1{
    background-image: url(../img/bg/bg-4-1.jpg);
}
.bg-4-2{
    background-image: url(../img/bg/bg-4-2.jpg);
}
.bg-4-3{
    background-image: url(../img/bg/bg-4-3.jpg);
}
.bg-5-1{
    background-image: url(../img/bg/bg-5-1.jpg);
}
.bg-5-2{
    background-image: url(../img/bg/bg-5-2.jpg);
}
.bg-5-3{
    background-image: url(../img/bg/bg-5-3.jpg);
}
.bg-6{
    background-image: url(../img/bg/bg-6.png);
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 69px;
    font-weight: 700;
    color: #ffffff;
}

.content-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    padding-right: 15%;
}

.content-btn,
.link-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.container-content {
    position: absolute;
    width: 100%;
    margin-top: -10%;
}
.content {
    display: none;
}
.content p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    width: 240px;
    text-align: right;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* HOME */
.section__home .content-btn,
.section__home .link-btn {
    border-bottom: 2px solid #ef9c2b;
}
.section__home .content-btn:hover,
.section__home .link-btn:hover,
.section__home .content-btn.active {
    color: #ef9c2b;
}
.section__home .content p {
    padding: 1% 10%;
}
.evento {
    background-color: rgba(0, 0, 0, 0.7);
}
.evento-header {
    border: 1px solid #ffffff;
}
.evento-header h3 {
    background: url("../img/ico-fb.png") no-repeat left center;
    background-size: contain;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    padding: 5px 0 5px 28px;
}
.evento-content {
    border: 1px solid #ffffff;
    max-height: 400px;
    height: auto;
    padding: 5px 20px;
    overflow: scroll;
}
.evento-content::-webkit-scrollbar {
    width: 1em;
}
 
.evento-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.evento-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.evento-content li {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}
.evento-content .title-evento img {
    float: left;
    max-width: 32px;
    max-height: 32px;
    margin-top: 5px;
}
.evento-content .title-evento p {
    font-size: 14px;
    padding: 0 0 0 38px;
}
.evento-content .imagen-evento {
    padding: 0 20px;
}



/* ESPACIOS */
.section__space .content-btn {
    border-bottom: 2px solid #47abd6;
}
.section__space .content-btn:hover,
.section__space .content-btn.active {
   color: #47abd6;
}

.section__space .section-title {
    color: #47abd6;
    border-bottom: 2px solid #47abd6;
}

.planes-content {
    margin: 10% 0;
}

/* CREACIÓN */
.section__creation .content-btn {
    border-bottom: 2px solid #fd4f00;
}
.section__creation .content-btn:hover,
.section__creation .content-btn.active {
    color: #fd4f00;
}
.section__creation .section-title {
    color: #fd4f00;
    border-bottom: 2px solid #fd4f00;
}

/* COLABORACION */
.section__colabora .content-btn {
    border-bottom: 2px solid #39ad4a;
}
.section__colabora .content-btn:hover,
.section__colabora .content-btn.active {
    color: #39ad4a;
}
.section__colabora .section-title {
    color: #39ad4a;
    border-bottom: 2px solid #39ad4a;
}
.section__colabora .quienes-text {
    padding: 10%;
}
.section__colabora .ug-tile {
    background-color: transparent !important;
}

/* AGENDAR */
.section__agendar .content-btn {
    border-bottom: 2px solid #8984c6;
}
.section__agendar .content-btn:hover {
    color: #8984c6;
}
.title-contact {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 20px;
}
.btn-send {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    margin: auto;
    display: block;
    padding: 8px 25px;
    border-radius: 0px;
}
.gracias__mensaje {
    color: #ffffff;
}

/* AQUI */
.section__aqui .content-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}
.section__aqui .map {
    width: 100%;
    height: 100vh;
    position: absolute;
    
    top: 0;
}
.section__aqui .bg {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
}

.content-btn:hover,
.content-btn.active {
    border-bottom: 2px solid #ffffff;
}

@media (max-width: 1199px){
    h1 {
        font-size: 64px;
    }
    
    .content-btn, .link-btn {
        font-size: 14px;
    }
}
@media (max-width: 1169px){ 
    .container {
        width: 100%;
    }
}

@media (max-width: 927px){
    h1 {
        font-size: 50px;
    }
}
@media (max-width: 767px){
    .container-logo {
        margin-top: 20px;
    }
    .fp-tableCell {
        vertical-align: top;
        padding-top: 12%;
        padding-bottom: 50px;
    }
    .container-content {
        position: relative;
        margin-top: 0;
        margin-left: -15px;
    }
    .section__home .content p {
        padding: 1% 0;
    }
    .contact__left {
        margin-bottom: 15px;
    }
    .section__aqui .bg {
        width: 100%;
        height: 70vh;
    }
    .section__aqui .map {
        height: 70vh;
        top: 50%;
    }
}
@media (max-width: 480px){
    .fp-tableCell {
        padding-top: 18%;
    }
}
